@page "/g"
<H1>Gordon's test page 2</H1>

<HeroSection Name="Hero">
    <Button Name="CallToActionButton">Buy now</Button>
</HeroSection>

<Card Name="PricingCard">
    Card content
</Card>
@code 
{

}
