@page "/g"
<H1>Gordon's test page</H1>

<Hero Name="Hero">
    Some hero text
    <Button Name="CallToActionButton">Buy now</Button>
</Hero>

<Card Name="PricingCard">
    Card content
</Card>
@code 
{

}
