@page "/"

<PageTitle>Home</PageTitle>

<h1>SAAScade Blazor Components</h1>

<A To="g">Gordon's test page</A>


@* 
<H1>H1</H1>
<H2>H2</H2>
<H3>H3</H3>
<H4>H4</H4> *@

@DateTime.Now.ToString()
@* <br />
@DateTime.Now.AddDays(1).AddHours(3).Humanize() *@

@* 
<Card class="shoes-card">
    <Figure>
        <Image Src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" Alt="Shoes"></Image>
    </Figure>
    <CardBody>
        <H2>Title</H2>
        <P>A card component has a figure, a body part, and inside body there are title and actions parts</P>
        <CardActions>
            <Button type="Primary">Buy Now</Button>
        </CardActions>
    </CardBody>
</Card> *@

@* 
<HeroSection>
    <Left>
        <Image></Image>
    </Left>
    <Right>

    </Right>
</HeroSection>
 *@

@* 



<Select>
    <SelectItem Value="1">One</SelectItem>
    <SelectItem Value="2">Two</SelectItem>
    <SelectItem Value="3">Three</SelectItem>
    <SelectItem Value="4">Four</SelectItem>
</Select>




<SelectFromList List="TheInputList">
    <SelectItem Value="">One</SelectItem>
    <SelectItem Value="2">Two</SelectItem>
    <SelectItem Value="3">Three</SelectItem>
    <SelectItem Value="4">Four</SelectItem>
</SelectFromList> *@