﻿.documentation {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 900px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.getting-started {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.getting-started hr {
    width: 100%;
}

.getting-started p {
    margin: 0;
}
