<TechCard>
    <section class="card">
        <Accordion Expanded="Expanded">
            <TitleContent>
                <h2 id="@Id">@Title</h2>
            </TitleContent>
            <ChildContent>
                <p class="subtitle">
                    @Subtitle
                </p>
                <hr/>
                @ChildContent
            </ChildContent>
        </Accordion>
    </section>
</TechCard>
@code
{  
    [Parameter, EditorRequired] public string Id { get; set; }  
    [Parameter, EditorRequired] public string? Title { get; set; } 
    [Parameter] public string? Subtitle { get; set; }
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool Expanded { get; set; } 
}
